* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffd7;
}

h1 {
  text-align: center;
  margin-bottom: .5em;
  font-family: "VCR OSD Mono [RUS by Daymarius]";
  color: #ffd733;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #025DA6;
}

header {
  background-color:#ffffd7;
  font-family: "Orbitron", "Poppins", sans-serif;
}

.pokeGrid {
  font-family: "VCR OSD Mono [RUS by Daymarius]", "Orbitron", sans-serif;
  background: linear-gradient(#ff1111, #64d364, #6464ff, #ffd733);
}

.gen2 {
  font-family: "VCR OSD Mono [RUS by Daymarius]", "Poppins", sans-serif;
  background: linear-gradient(#ffd700, #c0c0c0,#4fd9ff);
}

.gen3 {
  font-family: "VCR OSD Mono [RUS by Daymarius]", "Poppins", sans-serif;
  background: linear-gradient(#A00000,#5959C1,#00A000);
}

.gen4 {
  font-family: "VCR OSD Mono [RUS by Daymarius]", "Poppins", sans-serif;
  background: linear-gradient(#AAAAFF,#FFC8C8,#BDBDBD);
}

.gen5 {
  font-family: "VCR OSD Mono [RUS by Daymarius]", "Poppins", sans-serif;
  background: linear-gradient(#000000, #ffffff);
}

.gen6 {
  font-family: "VCR OSD Mono [RUS by Daymarius]", "Poppins", sans-serif;
  background: linear-gradient(#025DA6, #F16A81);
}

.gen7 {
  font-family: "VCR OSD Mono [RUS by Daymarius]", "Poppins", sans-serif;
  background: linear-gradient(#F1912B, #90BDDC);
}

.gen8 {
  font-family: "VCR OSD Mono [RUS by Daymarius]", "Poppins", sans-serif;
  background: linear-gradient(#00A1E9,#D5598C);
}


button {
  margin-left: 1.6px;
  height: 25px;
  width: 130px;
  font-family: "VCR OSD Mono [RUS by Daymarius]", "Poppins", sans-serif;
}


.loadPokemon {
  background: linear-gradient(0.25turn, #ff1111, #64d364, #6464ff, #ffd733);
}

#gen2 {
  background: linear-gradient(0.25turn,#ffd700, #c0c0c0,#4fd9ff);
}

#gen3 {
  background: linear-gradient(0.25turn,#A00000,#5959C1,#00A000);
}

#gen4 {
  background: linear-gradient(0.25turn,#AAAAFF,#FFC8C8,#BDBDBD);
}

#gen5 {
  background: linear-gradient(0.25turn, #000000, #ffffff);
  color: #fff;
  -webkit-text-stroke-width: .6px;
  -webkit-text-stroke-color: #000;
}

#gen6 {
  background: linear-gradient(0.25turn,#025DA6, #F16A81);
}

#gen7 {
  background: linear-gradient(0.25turn,#F1912B, #90BDDC);
}

#gen8 {
  background: linear-gradient(0.25turn,#00A1E9,#D5598C);
}

#fetchSelectedPokemon {
  background-color: blue;
}

#newPokemon {
  background-color: green;
}

.pokeGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.scene {
  width: 200px;
  height: 260px;
  border: 1px solid #ccc;
  margin: 10px;
  perspective: 600px;
}

.card {
 width: 100%;
 height: 100%;
 transition: transform 1s;
  transform-style: preserve-3d;
 cursor: pointer;
 position: relative; 
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  font-weight: bold;
  backface-visibility: hidden;
}

.card__face--front img {
  height: 190px;
  width: 190px;
}

.card__face--back {
  transform: rotateY(180deg);
}
