* {
    margin: 0;
    box-sizing: border-box;
}

.congressGrid {
    display: flex;
    flex-wrap: wrap;
}

.figureDiv {
    padding: 6px;
    margin: 6px;
    border: 1px red solid;
    box-shadow: 6px 6px 6px black;
}

figcaption {
    text-align: center;
}
